$primary-color: #009688;
$primary-color-dark: #00796B;
$accent-color: #F50057;
$primary-text-color: rgba(0, 0, 0, 0.87);
$secondary-text-color: rgba(0, 0, 0, 0.54);
@import 'typography';
@import 'shadows';
@import 'icons';

body,
html {
    margin: 0;
    padding: 0;
    background: #EEEEEE;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.top-bars {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav-bar {
    -webkit-app-region: drag;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: $primary-color-dark;
    height: 32px;
}

.frame-button {
    -webkit-app-region: no-drag;
    -webkit-user-select: none;
    border: none;
    background-color: transparent;
    transition: background-color 0.1s;
}

.frame-button:focus {
    outline: none;
}

.frame-button:hover {
    background-color: rgba(255, 255, 255, 0.14);
}

.frame-button:active {
    background-color: rgba(255, 255, 255, 0.26)
}

.app-bar {
    background-color: $primary-color;
    margin: 0;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    @include card(1);
}

.app-bar-title {
    font-size: 16px;
    font-weight: 500;
    color: #FFF;
    margin-left: 16px;
    -webkit-user-select: none;
}

.side-nav {
    background-color: #FFF;
    width: 72px;
    position: fixed;
    top: 88px;
    height: 100%;
    border-right: 1px solid rgba(0,0,0,0.14);
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 56px;
    transition: background-color 0.1s;
}

.nav-item:hover {
    background-color: rgba(0, 0, 0, 0.14);
}

.nav-item:active {
    background-color: rgba(0, 0, 0, 0.26);
}

.nav-item__text {
    @extend .md-caption;
    transition: all 0.2s;
    pointer-events: none;
    -webkit-user-select: none;
}

.nav-item .material-icons {
    pointer-events: none;
    -webkit-user-select: none;
}

.nav-item--active .material-icons {
    color: $primary-color;
}

.nav-item--active .nav-item__text {
    font-size: 14px;
    color: $primary-color;
}
